PORT=3556
NODE_ENV=production

# Old app's URL
LEGACY_APP_URL=https://xxxxxxxxxxx.com
# New App's URL
SHOPIFY_APP_URL=http://xxxxxxxxxxx.com
GRAPHQL_ENDPOINT=/graphql

SHOPIFY_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SHOPIFY_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

SENDGRID_API_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
APP_EMAIL_FROM=support@xxxxxxxxxxxxx.com
APP_EMAIL_NAME=XXXXXXXXXXXXXXXX